networks:
  my-net:
    external: true

services:
  valkey-server:
    image: server
    container_name: valkey-server-isolated
    cpuset: "5"
    ports:
      - "6379:6379"
    networks:
      - my-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 5s

  valkey-client:
    image: client
    container_name: valkey-client-isolated
    cpuset: "6-7"
    ports:
      - "3003:3003"
    environment:
      - CLIENT_URL=valkey-server:6379
      - VALUE_SIZE=40000
    networks:
      - my-net
    depends_on:
      valkey-server:
        condition: service_healthy