networks:
  my-net:
    external: true
  clone-net:
    external: true

services:
  valkey-server:
    image: server
    container_name: valkey-server
    cpuset: "5"
    ports:
      - "6379:6379"
    networks:
      - my-net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 5s

  valkey-client:
    image: client
    container_name: valkey-client
    cpuset: "6-7"
    ports:
      - "3003:3003"
    environment:
      - CLIENT_URL=valkey-server:6379
      - VALUE_SIZE=40000
    networks:
      - my-net
    depends_on:
      valkey-server:
        condition: service_healthy

  valkey-server-clone:
    image: server
    container_name: valkey-server-clone
    cpuset: "2"
    ports:
      - "9004:6379"
    networks:
      - clone-net
    # simple healthcheck: tries to PING Redis every 10s, up to ~5 min
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 5s

  valkey-client-clone:
    image: client
    container_name: valkey-client-clone
    cpuset: "3-4"
    ports:
      - "3004:3003"
    networks:
      - clone-net
    environment:
      - CLIENT_URL=valkey-server-clone:6379
      - VALUE_SIZE=40000
    depends_on:
      valkey-server-clone:
        condition: service_healthy
